/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

body, p {
	color: white;
	background-color: black;
}

p {
	float: left;
}

input[type=range].vertical
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 400px;
    padding: 0 5px;
}

/*canvas, image {
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit
                                                //  (Safari now, Chrome soon)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: optimize-contrast;         // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE
}*/
